header {
    font-size: 2em;    
}
a:link {
    color:burlywood
}
    #main-doc {
        border: currentColor 5px solid;
    
    }

#navbar {
    position: fixed;
    height:100vh;
    width: 50vh;
    background-color: lightslategray;
    left: 0px;
    bottom:0px;
}