@import url('https://fonts.googleapis.com/css?family=Bangers|Hind+Guntur|Sedgwick+Ave|Roboto');
header {
    font-size: 2em;
    font-family: Roboto;    
}
a:link {
    color:rgb(233, 198, 153)
}
body {
    color:rgb(196, 137, 49)
}

#main-doc {
    position: absolute;
    margin-left: 310px;
    padding: 20px;
    margin-bottom: 110px;
}
@media (min-width: 600px) {
    #navbar {
        position: fixed;
        height:100vh;
        width: 50vh;
        background-color: lightslategray;
        left: 0px;
        bottom:0px;
    }
}
.border {
    border: 10px solid azure;
}