@import url('https://fonts.googleapis.com/css?family=Bangers|Hind+Guntur|Sedgwick+Ave|Roboto');
header {
    font-size: 2em;
    font-family: Roboto;    
}
a:link {
    color:burlywood
}

 #navbar {
    position: fixed;
    height:100vh;
    width: 50vh;
    background-color: lightslategray;
    left: 0px;
    bottom:0px;
}
#main-doc {
    position: absolute;
    margin-left: 310px;
    padding: 20px;
    margin-bottom: 110px;
}